header.banner {
    background: linear-gradient(#624d69, #182665);
    position: absolute;
    top: 0;
    width: 100%;
    padding: 7rem 0;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 75%;
}

.banner h1 {
    text-transform: lowercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 5rem;
    margin: 0;
}

.banner h4 {
    font-size: 2.3rem;
    margin: 0.7rem 0 4rem 0;
}

.banner p {
    font-size: 1.2rem;
}

.banner h4, .banner p {
    color: #d0d0d0;
    font-family: 'Arial';
}

.banner .my-name {
    text-transform: capitalize;
    color: #aed2ff;
}

.banner div.banner-text {
    display: inline-block;
    margin: auto 0;
    width: 45%;
}

.banner div.banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banenr div.banner-img .profile_pic {
    object-fit: cover;
}

.banner div.banner-img .profile_border {
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #aed2ff;
    transition: transform 0.2s ease-in-out;
}

.banner div.banner-img .profile_pic, .banner div.banner-img .profile_border {
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
}

.banner div.banner-img .profile_border:hover {
    transform: translate(-50%, -50%) translate(-1.5rem);
}