.nav-bar {
    position: fixed;
    top: 0;
    padding-top: 0.5rem;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.nav-bar .my-name {
    display: inline-block;
    margin: auto 0;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar ul {
    /* display: inline-block; */
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-bar ul li a {
    /* display: inline; */
    margin: auto 1rem;
    transition: all 0.3s ease-in-out;
}